.dashboardLayout {
    display: flex;
}

.mainContent {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
    .mainContent {
        margin-left: 0;
    }
}