.wrapper {
    width: 100%;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

.wrapper p {
    color: rgba(0, 0, 0, 0.5);
}

.wrapper span {
    color: rgba(0, 0, 0, 0.75);
    font-weight: 500;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 5px;
    top: 20px;
    left: 0;
    z-index: 1000;
    font-size: 12px;
    width: 220px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }  

.pending {
    color: #E34534 !important;
}

.proccess {
    color: #e39734 !important;
}

.finished {
    color: #349de3 !important;
}

.delivered {
    color: #73A73F !important;
}