.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper h1 {
    font-size: 30px;
    font-weight: 600;
}

.wrapper a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
}